- allBudgets = budgets.budgets || {}
- monthBudgets = allBudgets['month'] || []
- yearBudgets = allBudgets['year'] || []
- taxYearBudgets = allBudgets['tax-year'] || []
- otherBudgets = allBudgets['other'] || []

- allBills = budgets.bills || {}
- monthBills = allBills['month'] || []
- yearBills = allBills['year'] || []
- taxYearBills = allBills['tax-year'] || []
- otherBills = allBills['other'] || []

- warningRatio = locals.user.settings['over_budget_warning_ratio']

mixin bar(b, showDate)
	- category = b['category']
	- type = b['type']
	- spend = b['spend']
	- amount = b['amount']
	- startDate = b['start_date']
	- endDate = b['end_date']
	- ratio = spend/amount
	- width = ratio <= 0 ? '1px' : (Math.min(ratio, 1) * 100) + '%'
	- title = 'Spent ' + formatters.formatCurrency(spend) + ' of ' + formatters.formatCurrency(amount)

	// determine bar class
	if (ratio <= 1)
		- barClass = type == 'budget' ? 'info' : 'success'
	else if (ratio <= warningRatio)
		- barClass = 'warning'
	else
		- barClass = 'danger'

	// determine message
	if (type == 'budget')
		if (ratio > 1)
			- content = 'Overspent by ' + formatters.formatCurrency(spend - amount)
		else
			- content = ''
	else
		- content = ratio > 0 ? 'Paid ' + formatters.formatCurrency(spend) : ''
		if (ratio > 1)
			- content += ' (' + formatters.formatCurrency(spend - amount) + ' over budget)'

	// build content
	div.col-xs-12.col-sm-6.col-md-4
		p(style = 'margin-bottom: 4px;')
			strong= category
			if (showDate)
				span &nbsp;&nbsp;
				span.text-muted.small= formatters.formatBudgetSpan(startDate, endDate)
		div.progress(title = title, style = 'margin-bottom: 14px;')
			div.progress-bar(class = 'progress-bar-' + barClass, style = 'width: ' + width)= content

mixin panel(budgets, bills)
	- first = budgets[0] || bills[0]
	- spendSum = 0
	- amountSum = 0
	for b in budgets
		- spendSum += b['spend']
		- amountSum += b['amount']
	for b in bills
		- spendSum += b['spend']
		- amountSum += b['amount']
	div.x_panel
		div.x_title
			h2
				i.fa.fa-fw.fa-pie-chart.text-muted.title-icon
				=formatters.formatBudgetSpan(first.start_date, first.end_date)
				small #{formatters.formatCurrency(spendSum)} of #{formatters.formatCurrency(amountSum)}
			div.clearfix
		div.x_content
			if (budgets.length)
				div.row: for b in budgets
					+bar(b)

			if (budgets.length && bills.length)
				div.hr: hr

			if (bills.length)
				div.row: for b in bills
					+bar(b)

if (monthBudgets.length || monthBills.length)
	+panel(monthBudgets, monthBills)

if (yearBudgets.length || yearBills.length)
	+panel(yearBudgets, yearBills)

if (taxYearBudgets.length || taxYearBills.length)
	+panel(taxYearBudgets, taxYearBills)

if (otherBudgets.length || otherBills.length)
	+panel(otherBudgets, otherBills)
