mixin summary(data)
	h4 Income
	p(style = 'margin-left: 20px')
		| Salary
		span.pull-right= formatters.formatCurrency(100)
	p(style = 'margin-left: 20px')
		| Self-Employment
		span.pull-right= formatters.formatCurrency(100)
	p(style = 'margin-left: 20px')
		| Interest Earned
		span.pull-right= formatters.formatCurrency(100)
	p(style = 'margin-left: 20px')
		| Balance Update
		span.pull-right= formatters.formatCurrency(100)
	p(style = 'margin-left: 20px')
		| Other Income
		span.pull-right= formatters.formatCurrency(100)

	h4 Expenditure
	p(style = 'margin-left: 20px')
		| Budgeted expenses
		span.pull-right= formatters.formatCurrency(-100)
	p(style = 'margin-left: 20px')
		| Other expenses
		span.pull-right= formatters.formatCurrency(-100)

	h4 Other
	p(style = 'margin-left: 20px')
		| Moved to savings
		span.pull-right= formatters.formatCurrency(-100)

	div.hr: hr

	p
		strong Net
		strong.pull-right= formatters.formatCurrency(100)

div.panel.panel-default
	div.panel-heading
		i.fa.fa-fw.fa-exchange.text-muted.title-icon
		| Summaries

	div.panel-body
		ul.nav.nav-tabs
			li.active: a(href = '#summary-month', data-toggle = 'tab') Month
			li: a(href = '#summary-year', data-toggle = 'tab') Year
			li: a(href = '#summary-tax-year', data-toggle = 'tab') Tax Year

		div.tab-content
			div#summary-month.tab-pane.fade.active.in: +summary({})
			div#summary-year.tab-pane.fade: +summary({})
			div#summary-tax-year.tab-pane.fade: +summary({})
